@mixin button-styles {
  .btn {
    display: inline-block;
    border-radius: var(--rounded-lg);
    border: 1px solid var(--border-base);
    padding: var(--space-3) var(--space-6);
    font-weight: var(--font-semibold);
    transition: var(--transition-default);
  }

  .btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    &:hover {
      color: var(--color-white);
    }
  }

  .btn-outline-primary {
    border-color: var(--color-primary);
    background-color: transparent;
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
