// Importar todos los archivos de estilos usando la sintaxis moderna de Sass
@use "base" as *;
@use "components" as *;
@use "navigation" as *;
@use "buttons" as *;
@use "utilities" as *;

// Directivas de Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 0;
}

.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 1em;
}

.prose :where(h6):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 1em;
}

@screen 2xl {
  :root {
    font-size: 20px;
  }
}
