@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 0;
}

.prose :where(h5):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 1em;
}

.prose :where(h6):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 1em;
}

@screen 2xl {
  :root  {
    font-size: 20px;
  }
}