@use "variables";
@use "base" as *;
@use "components" as *;
@use "navigation" as *;
@use "buttons" as *;
@use "utilities" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include base-styles;
}

@layer components {
  @include component-styles;
  @include navigation-styles;
  @include button-styles;
}

@layer utilities {
  @include utility-styles;
}

.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 0;
}

.prose :where(h5):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 1em;
}

.prose :where(h6):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 1em;
}

@media (min-width: var(--screen-2xl)) {
  :root {
    font-size: 20px;
  }
}