---

---

<nav>
  <div
    class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16"
  >
    <a href="/blog" class="font-bold text-xl hover:text-hot-pink">9punto5</a>

    <div class="flex space-x-4 items-center">
      <a href="/blog/search" class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </a>

      <button id="theme-toggle">
        <svg
          id="sun-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
          ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
            d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
            d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
            d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
            d="m19.07 4.93-1.41 1.41"></path></svg
        >

        <svg
          id="moon-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6 hidden"
          ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
        >
      </button>
    </div>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>

<script>
  const themeToggle = document.getElementById("theme-toggle");
  const moonIcon = document.getElementById("moon-icon");
  const sunIcon = document.getElementById("sun-icon");

  // Check for saved theme preference in localStorage
  const savedTheme = localStorage.getItem("theme");
  if (savedTheme) {
    document.body.classList.add(savedTheme);
    if (savedTheme === "dark") {
      moonIcon.classList.add("hidden");
      sunIcon.classList.remove("hidden");
    }
  }

  themeToggle.addEventListener("click", () => {
    if (document.body.classList.contains("dark")) {
      document.body.classList.remove("dark");
      localStorage.setItem("theme", "light");
      moonIcon.classList.remove("hidden");
      sunIcon.classList.add("hidden");
    } else {
      document.body.classList.add("dark");
      localStorage.setItem("theme", "dark");
      moonIcon.classList.add("hidden");
      sunIcon.classList.remove("hidden");
    }
  });
</script>
